In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('./Customer Call List.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Paying Customer    21 non-null     object
 6   Do_Not_Contact     17 non-null     object
 7   Not_Useful_Column  21 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

In [4]:
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True

### Delete Duplicate Rows

In [5]:
print("shape of DF:",df.shape, ", Nr of Unique Rows: ",df['CustomerID'].nunique())

shape of DF: (21, 8) , Nr of Unique Rows:  20

In [6]:
# Delete duplicate rows and reset the index
df.drop_duplicates(inplace= True)
df.reset_index(drop=True, inplace=True)

In [7]:
df.shape

(20, 8)

### Formate First and Last_Name columns

In [9]:
df['First_Name'].info(),df['First_Name']

<class 'pandas.core.series.Series'>
RangeIndex: 20 entries, 0 to 19
Series name: First_Name
Non-Null Count  Dtype
--------------  -----
20 non-null     object
dtypes: object(1)
memory usage: 292.0+ bytes

(None,
 0        Frodo
 1         Abed
 2       Walter
 3       Dwight
 4          Jon
 5          Ron
 6         Jeff
 7     Sherlock
 8      Gandalf
 9        Peter
 10     Samwise
 11       Harry
 12         Don
 13      Leslie
 14        Toby
 15         Ron
 16    Michael
 17       Clark
 18       Creed
 19      Anakin
 Name: First_Name, dtype: object)

In [8]:
df['Last_Name'].info(),df['Last_Name']

<class 'pandas.core.series.Series'>
RangeIndex: 20 entries, 0 to 19
Series name: Last_Name
Non-Null Count  Dtype
--------------  -----
19 non-null     object
dtypes: object(1)
memory usage: 292.0+ bytes

(None,
 0         Baggins
 1           Nadir
 2          /White
 3         Schrute
 4            Snow
 5         Swanson
 6          Winger
 7          Holmes
 8             NaN
 9          Parker
 10         Gamgee
 11      ...Potter
 12         Draper
 13          Knope
 14    Flenderson_
 15        Weasley
 16          Scott
 17           Kent
 18         Braton
 19      Skywalker
 Name: Last_Name, dtype: object)

In [10]:
# format Last_Name columns
df['Last_Name']=df['Last_Name'].str.strip()
df['Last_Name']=df['Last_Name'].str.replace('[^a-zA-Z]','',regex=True) # delete everything out of range a-z
df['Last_Name'].fillna('',inplace=True)# replace NaN with empty string
df['Last_Name']

0        Baggins
1          Nadir
2          White
3        Schrute
4           Snow
5        Swanson
6         Winger
7         Holmes
8
9         Parker
10        Gamgee
11        Potter
12        Draper
13         Knope
14    Flenderson
15       Weasley
16         Scott
17          Kent
18        Braton
19     Skywalker
Name: Last_Name, dtype: object

### Formate Phone_Number Column

In [11]:
df['Phone_Number'].info(),df['Phone_Number']

<class 'pandas.core.series.Series'>
RangeIndex: 20 entries, 0 to 19
Series name: Phone_Number
Non-Null Count  Dtype
--------------  -----
18 non-null     object
dtypes: object(1)
memory usage: 292.0+ bytes

(None,
 0     123-545-5421
 1     123/643/9775
 2       7066950392
 3     123-543-2345
 4     876|678|3469
 5     304-762-2467
 6              NaN
 7     876|678|3469
 8              N/a
 9     123-545-5421
 10             NaN
 11      7066950392
 12    123-543-2345
 13    876|678|3469
 14    304-762-2467
 15    123-545-5421
 16    123/643/9775
 17      7066950392
 18             N/a
 19    876|678|3469
 Name: Phone_Number, dtype: object)

In [12]:
# format and standardization of Phone_Number
df['Phone_Number']=df['Phone_Number'].fillna('') # replace NaN to empty feld
df['Phone_Number']=df['Phone_Number'].replace('N/a','') # replace N/a to empt feld
df['Phone_Number']

0     123-545-5421
1     123/643/9775
2       7066950392
3     123-543-2345
4     876|678|3469
5     304-762-2467
6
7     876|678|3469
8
9     123-545-5421
10
11      7066950392
12    123-543-2345
13    876|678|3469
14    304-762-2467
15    123-545-5421
16    123/643/9775
17      7066950392
18
19    876|678|3469
Name: Phone_Number, dtype: object

In [13]:
# standardizatopn of Phone_Number in  ###-###-#### format
df['Phone_Number']=df['Phone_Number'].replace('[^0-9]','',regex=True).astype(str) # only numbers and save as string
df['Phone_Number']=df['Phone_Number'].apply(lambda nr: nr[0:3] + '-' + nr[3:6]+ '-' + nr[6:] if len(nr)>3  else '')

In [ ]:
df['Phone_Number']

### Address Column

In [ ]:
df['Address'].info(),df['Address']

### golas:
- convert to string
- splite the string and create more usefull columns like address, city and state
- standardization of formating

In [ ]:
df['Address']=df['Address'].astype(str) # convert to string
df['Address']=df['Address'].str.replace('N/a','') # replace N/a fields with empty string 
df[['Address_new','City_new','Zipcode_new']]=df['Address'].str.split(',',expand=True) # create new columns from Address

### Paying Customer column

In [ ]:
#Paying Customer column
df['Paying Customer'],df['Paying Customer'].info()

### gloas: 
- delete N/a values
- standardization of values (convert to string and fill with yes and no)

In [ ]:
df['Paying Customer']=df['Paying Customer'].str.replace('N/a','') # replace N/a 
# replace N with No and Y with Yes
df['Paying Customer']=df['Paying Customer'].apply(lambda answer:'No' if len(answer)== 1 and answer=='N' else answer )
df['Paying Customer']=df['Paying Customer'].apply(lambda answer:'Yes' if len(answer)== 1 and answer=='Y' else answer )
df['Paying Customer']

#### Do_Not_Contact Column
Applying same things for Do_Not_Contact column

In [ ]:
df['Do_Not_Contact'].info(),df['Do_Not_Contact']

In [ ]:
df['Do_Not_Contact']=df['Do_Not_Contact'].fillna('').astype(str) # fill NaN with empty string and convert column to string
# replace N with No and Y with Yes
df['Do_Not_Contact']=df['Do_Not_Contact'].apply(lambda answer:'No' if len(answer)== 1 and answer=='N' else answer )
df['Do_Not_Contact']=df['Do_Not_Contact'].apply(lambda answer:'Yes' if len(answer)== 1 and answer=='Y' else answer )
df['Do_Not_Contact']

In [ ]:
df.head(2)

### Drop not usefull columns 'Address' and 'Not_Useful_Column' and save cleaned Data

In [ ]:
# Drop not usefull columns 'Address' and 'Not_Useful_Column'
df.drop(['Address','Not_Useful_Column'],axis=1,inplace=True)
df.to_csv('./CustomerCallList_Cleaned.csv')